* {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

body {
  color: #3F3F42
}

a:link {
  text-decoration: none;
  color: #3F3F42
}
a:visited {
  text-decoration: none;
  color: #3F3F42
}
a:hover {
  text-decoration: none;
  background-color: #C5C5C6
}
