<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Marcella Hastings</title>
</head>
<style type="text/css">
  body {
    font-family:"Lucida Sans Unicode"
  }
</style>
<body>
  <h1> MARCELLA HAS AN INTERNET PRESENCE </h1>
  <img 
    src='http://www.waukonstandard.com/SiteImages/Article/50684a.jpg'/>
    <br>
    <br>
    <form action="https://www.linkedin.com/in/marcellahastings">
        <input type="submit" value="LinkedIn">
    </form>
    <br>
    <form action="https://github.com/marsella">
        <input type="submit" value="GitHub">
    </form>
</body>
<footer>
<p>
Disclaimer: it is way past my bed time and this site is not yet complete.
</footer>

<!-- Google analytics tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46045742-1', 'marcellahastings.com');
  ga('send', 'pageview');

</script>

</html>
