<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Marcella Hastings</title>
  <link rel="stylesheet"
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Marcella Hastings</h1>
      </div>
    </div>

    <hr>

    <!-- Links! -->
    <div class="row center-block">
      <div class="col-md-4">
        <h2 class="text-center">Words</h2>
        <p class="text-center">
         Major collections of things I've written.</p>
        <div class="row top-buffer">
          <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-primary btn-block btn-block" 
               href="https://github.com/marsella">GitHub</a>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-primary btn-block"
               href="http://admissions.tufts.edu/blogs/jumbo-talk/author/marcella-hastings/">
               Tufts Admissions </a>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <h2 class="text-center">Career</h2>
        <p class="text-center">Look at this if you'd like to hire me.</p>
        <div class="row top-buffer">
          <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-primary btn-block"
               href="static/resume.pdf">Resume</a>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-8 col-md-offset-2">
          <a class="btn btn-primary btn-block"
             href="www.linkedin.com/in/marcellahastings">LinkedIn</a>
          </div>
        </div>

      </div>


      <div class="col-md-4">
        <h2 class="text-center">Social</h2>
        <p class="text-center">The silly internet presence.</p>
        <div class="row top-buffer">
          <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-primary btn-block"
               href="https://www.facebook.com/marcella.hastings.9">Facebook</a>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-8 col-md-offset-2">
            <a class="btn btn-primary btn-block"
               href="https://twitter.com/marsella_h">Twitter</a>
          </div>
        </div>
      </div>
    </div>

  <br/><br/>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Hackathon Projects</h2>
    </div>
  </div>

  <!-- you're here -->
  <div class="row center-block">
    <div class="col-md-6">
      <div class="row top-buffer">
        <div class="col-md-8 col-md-offset-2">
          <a class="btn btn-success btn-block"
             href="http://color.marcellahastings.com">ColorMe</a>
          <p> <br/>
            ColorMe is a song visualizer that lets you enter your favorite
            artist and see a representation of their most popular songs in
            color. Made at the Echo Nest Music Hack Day in November 2013.
            <br/>
            <a href="https://github.com/marsella/colorme">Source code</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row top-buffer">
        <div class="col-md-8 col-md-offset-2">
          <a class="btn btn-success btn-block"
             href="http://www.eecs.tufts.edu/~dporte01/hack/">Looper</a>
          <p> <br/>
            An online game with the goal of "recreating childhood musical
            discovery and reckless noisemaking," created with a team at HackingArts,
            held in September 2013. <br/>
            To play, click to draw circles, add color to the different
            sections, and hit the spacebar to make them play.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-block">
    <div class="col-md-6"> 
      <div class="row top-buffer">
        <div class="col-md-8 col-md-offset-2">
          <a class="btn btn-success btn-block"
             href="https://github.com/marsella/t3">Tic Tac Toe</a>
          <p> <br/>
            The classic tic-tac-toe game implemented using Elm, a functional 
            reactive language. Created at the Fall 2013 Tufts Hackathon, as an 
            exercise in using Haskell-like languages to do cool things. <br/> To
            play the game, use the <a href="http://elm-lang.org/try">Elm
            Emulator</a> and paste in the source code.
          </p>
        </div>
      </div>
    </div>
  </div>

  </div> <!-- container -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script
    src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js">
  </script>
</body>
</html>
